@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
}

#container{
    position: relative;
    padding: 0;
    margin: 0;
}


/* PROGRESS BAR */

#progress {
    position: fixed;                
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}


/* BLACK BAR W LOGO */

#top-bar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 35px;
    background-color: black;
}

#top-bar img{
    height: 50px
}


/* NAV BAR */

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#nav-bar a{
    text-decoration: none;
    color: black;
}

#nav-bar a:hover{
    text-decoration: underline black;
}

#nav-two{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#log{
    width: 85px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #0CC0DF;
}


/* MAIN BODY */

#main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-body{
    margin: auto;
    width: 60%;
}

#mb-top{
    display: flex;
    flex: 1;
    min-height: 240px;
}

#mb-top h2{
    text-decoration: underline 2px #0CC0DF;
}

.mb-top-section{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mb-top-section span{
    color: grey;
    margin-left: 25px;
    font-size: 90%;
    margin-bottom: 6px;
}

.section-title{
    display: flex;
}

.section-title img{
    height: 15px;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.name{
    display: flex;
    align-items: center;
}

.lists{
    padding: 20px 15px 20px 15px;
}

.single{
    margin-bottom: 5px;
    background-color: rgb(200, 240, 250, .25);
    border: 1px solid rgb(220, 220, 220, .5);
    padding: 8px;
    border-radius: 10px;
}

#add-popup-bill, #add-popup-income{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 1px solid black;
    transform: translate(-50%, -50%) scale(1.25);
    width: 480px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

#add-popup-bill.active, #add-popup-income.active{
    top: 50%;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    box-shadow: 0 0 5px 2px;
}

.wrapper-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.wrapper-title a{
    text-decoration: none;
    color: black;
}