@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
}

#container{
    position: relative;
    padding: 0;
    margin: 0;
}


/* BLACK BAR W LOGO */

#top-bar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 35px;
    background-color: black;
}

#top-bar img{
    height: 50px
}


/* NAV BAR */

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#nav-bar a{
    text-decoration: none;
    color: black;
}

#nav-bar a:hover{
    text-decoration: underline black;
}

#nav-two{
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#log{
    width: 85px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #0CC0DF;
}


/* MAIN BODY */

#main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

#errors{
    margin-left: 30px;
    color: red;
}