@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
}

#container{
    position: relative;
    padding: 0;
    margin: 0;
}

/* BLACK BAR W LOGO */

#top-bar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 35px;
    background-color: black;
}

#top-bar img{
    height: 50px
}


/* NAV BAR */

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#nav-bar a{
    text-decoration: none;
    color: black;
}

#nav-bar a:hover{
    text-decoration: underline black;
}

#nav-two{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#log{
    width: 85px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #0CC0DF;
}

#sign{
    width: 85px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #0CC0DF;
    background-color: #0CC0DF;
}

/* MAIN BODY TITLE */ 

#main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-title{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #0CC0DF;
}


/* MAIN BODY */

#main-body{
    margin: auto;
    width: 60%;
}

.main-section{
    margin: 50px 0 50px 0;
}

#main-two{
    margin-left: 300px;
}


/* FOOTER */

#footer{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #393A3D;
    color: white;
    padding: 40px;
    margin-top: 50px;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
}

#footer-top img{
    height: 50px
}

#footer-top h1{
    font-size: 250%;
}

#footer-body{
    display: flex;
    flex: 1;
    width: 70%
}

#fb-left{
    flex: 1;
}

#fb-left p:hover{
    text-decoration: underline;
    cursor: pointer;
}

#fb-right{
    flex: 4;
}

#footer p{
    font-size: 85%;
}

#footer a{
    color: white;
}
