@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
}

#container{
    position: relative;
    padding: 0;
    margin: 0;
}


/* PROGRESS BAR */

#progress {
    position: fixed;                
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}


/* BLACK BAR W LOGO */

#top-bar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 35px;
    background-color: black;
}

#top-bar img{
    height: 50px
}


/* NAV BAR */

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#nav-bar a{
    text-decoration: none;
    color: black;
}

#nav-bar a:hover{
    text-decoration: underline black;
}

#nav-two{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#log{
    width: 85px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #0CC0DF;
}

#sign{
    width: 85px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #0CC0DF;
    background-color: #0CC0DF;
}


/* MAIN BODY TITLE */ 

#main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

/* MAIN BODY */

#main-body{
    margin: auto;
    display: flex;
    flex: 1;
    width: 45%;
    margin-top: 40px;
}

#main-body h2{
    margin-bottom: 5px;
}

#main-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

#main-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-bottom: 80px;
}

#login-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 280px;
}

.forgot{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
}

.forgot a{
    text-decoration: none;
}

.forgot a:hover{
    text-decoration: underline;
}

.input-submit{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-submit input{
    height: 30px;
    width: 150px;
}

#errors{
    width: 350px;
    display: inline-block;
    word-wrap: break-word;
    color: red;
}

/* FOOTER */

#footer{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #393A3D;
    color: white;
    padding: 40px;
    margin-top: 157px;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
}

#footer-top img{
    height: 50px
}

#footer-top h1{
    font-size: 250%;
}

#footer-body{
    display: flex;
    flex: 1;
    width: 70%
}

#fb-left{
    flex: 1;
}

#fb-left p:hover{
    text-decoration: underline;
    cursor: pointer;
}

#fb-right{
    flex: 4;
}

#footer p{
    font-size: 85%;
}

#footer a{
    color: white;
}
